**TUGAS PERTEMUAN 8 ( UTS )**

In [ ]:
def faktorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * faktorial(n - 1)

# Input dari pengguna
angka = int(input("Masukkan angka untuk dihitung faktorialnya: "))
hasil = faktorial(angka)
print(f"Faktorial dari {angka} adalah {hasil}")

Masukkan angka untuk dihitung faktorialnya: 24
Faktorial dari 24 adalah 620448401733239439360000

In [ ]:
nilai_siswa = []

# Input nilai sebanyak 5 kali
for i in range(5):
    nilai = int(input(f"Masukkan nilai siswa ke-{i + 1}: "))
    nilai_siswa.append(nilai)

# Mencari nilai tertinggi
nilai_max = max(nilai_siswa)
siswa_ke = nilai_siswa.index(nilai_max) + 1

print(f"Nilai tertinggi adalah {nilai_max}, diperoleh oleh siswa ke-{siswa_ke}.")

Masukkan nilai siswa ke-1: 90
Masukkan nilai siswa ke-2: 87
Masukkan nilai siswa ke-3: 92
Masukkan nilai siswa ke-4: 85
Masukkan nilai siswa ke-5: 98
Nilai tertinggi adalah 98, diperoleh oleh siswa ke-5.

In [4]:
# Input total belanja
total_belanja = float(input("Masukkan total belanja (Rp): "))

# Hitung diskon jika belanja > 500000
if total_belanja > 500000:
    diskon = total_belanja * 0.10
else:
    diskon = 0

total_bayar = total_belanja - diskon

print(f"Diskon: Rp{diskon:,.0f}")
print(f"Total bayar setelah diskon: Rp{total_bayar:,.0f}")

Masukkan total belanja (Rp): 500000
Diskon: Rp0
Total bayar setelah diskon: Rp500,000